<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="vue.js"></script>
</head>

<body>
    <!-- v-for -->
    <div id="app">
        <!-- 
            为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性：
            建议尽可能在使用 v-for 时提供 key attribute，除非遍历输出的 DOM 内容非常简单，或者是刻意依赖默认行为以获取性能上的提升 
        -->

        <!-- 遍历数组 -->
        <ul id="example-1">
            <li v-for="(item, index) in items" :key=index>
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <div v-for="(value, name, index) in object" :key =index>
            {{ index }}. {{ name }}: {{ value }}
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ],
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })
    </script>
</body>

</html>